@import '../_variables.scss';

.el-pager li {
  background-color: transparent !important;
  &.active {
    &:after {
      background: $app-primary-color !important;
      content: '' !important;
      display: block !important;
      height: 4px !important;
      transform: translateY(-2px) !important;
      width: 100% !important;
    }
  }
}
