@import '../_variables.scss';

.el-pager li {
  background-color: transparent !important;
  color: $dark-gray !important;
  font-size: 14px !important;
  &.number {
    font-family: 'Asap', sans-serif;
    font-weight: bold;
  }
  &.more {
    font-weight: 500;
  }
  &.active {
    position: relative;
    color: $median !important;
    &:after {
      position: absolute;
      background: $median;
      content: '';
      display: block;
      height: 2px;
      width: 16px;
      left: 50%;
      margin-left: -8px;
      transform: translateY(-4px);
    }
  }
}

.el-pagination > button {
  color: $dark-gray !important;
  &[disabled] {
    color: $medium-gray !important;
  }
}
