body {
  background-color: #F7FAFF;
  font-family: 'Asap', sans-serif;
  /* font-family: Asap,serif; */
  margin: 0;
}

h1 {
  font-size: 3em;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 2em;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 1.5em;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.btn-link {
  display: inline-block;
  text-decoration: none;;
}

.legal {
  text-transform: none;
}

.legal p {
  font-size: 8pt;
  line-height: 12pt;
  margin: 0;
  padding: 0;
}

#logo {
  align-self: center;
  margin: 0 50px 0 15px;
  font-weight: 700;
}

#site-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#page-container {
  flex: 1;
}

#portal_modules {
  display: flex;
  flex:1;
  flex-direction: row;
  justify-content: left;
}

#help_button {
  display: flex;
  align-items: center;
  justify-items: flex-end;
  flex: 0;
  margin: 0 15px;
}

.module_option {
  color: #e8edfb;
  align-self: center;
  margin: 10px;
}

#portal_modules a {
  color: #e8edfb;
  text-decoration: none;
}

#portal_nav {
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  background-color: #1a1489;
  color: #e8edfb;
  border-bottom: 1px solid lightgray
}
