@import './variables';

/* icon font path, required */
$--color-primary: $app-primary-color;
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

@import './components/_el-dialog';
@import './components/_el-tag';
@import './components/_el-table';
@import './components/_el-menu-popper';
@import './base';
@import './spacing';
@import './layout';
@import './svg-icon';
